<!-- button bar that is present in all tabs -->
<ng-template #radioToolbar>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="view">
        @for (option of views; track option) {
        <mat-radio-button>
            {{view}}&nbsp;&nbsp;&nbsp;
        </mat-radio-button>
        }
    </mat-radio-group>
</ng-template>

<as-split unit="pixel" *ngIf="view==gongng18" direction="vertical">
    <as-split-area [size]=40>
        <ng-container *ngTemplateOutlet="radioToolbar"></ng-container>
    </as-split-area>
    <as-split-area [size]="400">
        <lib-gongng18specific GONG__StackPath="gongng18">
        </lib-gongng18specific>
    </as-split-area>
</as-split>